.menus-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 2rem 0 2rem;
  box-sizing: border-box;
}

nav {
  display: flex;
}

.ham-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
  position: relative;
  background-color: transparent;
  border: none;
}

.ham-menu span {
  height: 4px;
  width: 100%;
  background-color: rgb(192, 51, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 20%;
}

.ham-menu span:nth-child(3) {
  top: 80%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: white;
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: white;
}

.off-screen-menu {
  display: flex; /* Ensure it's ready to animate on mobile */
  background-color: rgb(10, 37, 68);
  width: 100vw; /* Cover the full width of the viewport */
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100vw; /* Completely hide off-screen-menu by default */
  visibility: hidden; /* Ensure it's not visible */
  opacity: 0; /* Make it transparent */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  z-index: 10;
  transition: right 0.3s ease, opacity 0.3s ease, visibility 0.3s ease; /* Smooth animation for sliding in */
}

.off-screen-menu.active {
  right: 0;
  visibility: visible; /* Make it visible */
  opacity: 1; /* Make it opaque */
}

.off-screen-menu ul {
  list-style-type: none;
}

.off-screen-menu a {
  color: white;
  text-decoration: none;
  text-transform: none;
  transition: color 0.3s;
}

.off-screen-menu a:hover {
  text-decoration: none;
  color: rgb(192, 51, 0);
  margin: 0;
}

.ham-menu a[href='#carousel'] {
  cursor: pointer; /* Change cursor to pointer for better UX */
}
