html {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif; /* Apply League Spartan font */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
}

p {
  font-size: 2rem;
}

.kuvateksti p {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
}

.logo {
  top: 0;
  left: 0;
  margin: 0 0 0 2rem;
  font-size: 2rem;
  font-weight: 700;
  z-index: 10;
  text-align: left;
  color: rgb(192, 51, 0);
}

.logo a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits color from the parent element */
}

.topheadline {
  position: absolute;
  margin: 0 6rem 6rem 0;
  bottom: 0;
  right: 0;
  font-size: 8rem;
  color: white;
  z-index: 20;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  max-width: 70%; /* Rajoittaa otsikon leveyden enintään 60% näytön leveydestä */
  text-align: right;
}

h2 {
  display: block;
  font-size: 4rem;
  color:rgb(10, 37, 68);
  margin: 9rem 2rem 0 2rem;
}

/*
#start-screen {
  background-color: rgb(192, 51, 0);
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100vh;
}*/



.carousel-header-images{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
  } 

  .carousel-header-headline {
    color: #1f181c; 
  }

  .carousel-header-images .gradient {
    width: 100%;
    height: 43vh;
    bottom: 0;
    background-image: linear-gradient(to top, rgb(6, 1, 13), transparent);
    opacity: 0.70;
    z-index: 11;
    position: absolute;
  }

 /* .carousel-header-images .gradient-top-bottom {
    width: 25vw;
    height: 100%;
    right: 0;
    background-image: linear-gradient(to left, rgb(22, 23, 24), transparent);
    opacity: 0.5;
    z-index: 11;
    position: absolute;
  }

 /* .carousel-header-headline h1{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: 5rem;  
    top: 70%;
    left: 50%;
    left: 0;      
    padding: 40px;   Lisää väliä reunasta tarvittaessa 
  } */
  
 
  #bg1, #bg2, #bg3, #bg4, #bg5 {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    
  }

   /*#bg4 {
    background-size: contain;
    background-color: #1f181c;
    background-position: center center;
  } */

  #bg1 {
    
    background-image: url('../images/01.jpg');
    
    z-index: 5; /* Päällimmäinen kuva */
  }
  
  #bg2 {
    background-image: url('../images/02.jpg');
    z-index: 4;
  }
  
  #bg3 {
    background-image: url('../images/03.jpg');
    z-index: 3;
  }

  #bg4 {
    background-image: url('../images/04.jpg');
    z-index: 2;
  }

  #bg5 {
    background-image: url('../images/05.jpg');
    z-index: 1;
  }
  
/* Container module */
.module {
  position: relative;
  width: 100%;
}

.header-container-frontpage {
  display: flex;
 /*max-width: 1600px;*/
  justify-content: space-between; 
  align-items: center;           
  width: 100%;                   
  padding: 20px;                 
  box-sizing: border-box;        
  position: absolute;            
  top: 0;                        
  left: 0;   
  margin-top: 0.5rem;                   
  z-index: 10;                  
}

.menus-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;       
  position: relative;
}
/*
.module .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Changed from absolute to relative 
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; /* Ensures it's centered within the module 
  z-index: 15; /* Keeps it above other content 
}*/

/* Content wrapper inside the module */
.module .container {
  width: 100%;
  max-width: 1600px;
  overflow: visible; /* Allow the content to overflow */
  margin: 0 auto; /* Centers the wrapper within the module */
 
}

.competences p {
  font-size: 4rem;
  margin: 2rem;
}



  @keyframes fadeOut {
    from {
      clip-path: inset(0% 0% 0% 0%);
    }
    to {
      clip-path: inset(0% 0% 100% 0%);
    }
  }

  @keyframes zoom_image {
    from {
      transform: scale(1.05);
    }
    to {
      transform: scale(1);
    }
}

/* Responsive styles for mobile devices */

@media (max-width: 768px) {

  .logo {
    margin: 0;
    font-size: 1.5rem;
  }

 
  h2 {
    margin: 2rem;
    font-size: 2.5rem;
  }

  .carousel-header-images{  
    height: 80vh;  
  } 
  
  #bg1 {
    background-position: -30px;
    height: 80vh; 
  }

  #bg2 {
    background-position: -100px;
    height: 80vh; 
  }

  #bg3 {
    background-position: -10px;
    height: 80vh; 
  }

  #bg4 {
    background-position: -90px;
    height: 80vh; 
  }

  #bg5 {
    background-position: -80px;
    height: 80vh; 
  }

  .carousel-header-images .gradient {
    width: 100%;
    height: 20vh;
    bottom: 0;
    background-image: linear-gradient(to top, rgb(6, 1, 13), transparent);
    opacity: 0.75;
    z-index: 11;
    position: absolute;
  }

  .topheadline {
    font-size: 2.2rem;
    margin: 0 2rem 2rem 0;
  }

  .competences p {
    font-size: 1.5rem;
    margin: 2rem; 
  }

  .container {
    margin-left: 2rem;
  }

}

/* Responsive styles for tablets and larger devices */

@media (min-width: 769px) and (max-width: 1280px) {
  .topheadline {
    font-size: 5.5rem;
    max-width: 90%;
    margin: 0 4rem 5rem 2rem;
  }
}