html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1; /* Behind navbar */
}

p {
  font-size: 1.5rem;
}

.kuvateksti p {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
}

.logo {
  margin-left: 2rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  z-index: 10;
  text-align: left;
  color: rgb(192, 51, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  line-height: 1;
}

.topheadline {
  position: absolute;
  margin: 0 6rem 6rem 0;
  bottom: 0;
  right: 0;
  font-size: 8rem;
  color: white;
  z-index: 20;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  max-width: 70%; /* Rajoittaa otsikon leveyden enintään 60% näytön leveydestä */
  text-align: right;
}

h2 {
  display: block;
  font-size: 4rem;
  color: rgb(10, 37, 68);
  margin: 9rem 2rem 0 2rem;
}

.carousel-header-images {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.carousel-header-headline {
  color: #1f181c;
}

.carousel-header-images .gradient {
  width: 100%;
  height: 43vh;
  bottom: 0;
  background-image: linear-gradient(to top, rgb(2, 11, 23), transparent);
  opacity: 0.8;
  z-index: 11;
  position: absolute;
}

#bg1,
#bg2,
#bg3,
#bg4,
#bg5 {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#bg1 {
  background-image: url('../images/01.jpg');
  z-index: 5;
}

#bg2 {
  background-image: url('../images/02.jpg');
  z-index: 4;
}

#bg3 {
  background-image: url('../images/03.jpg');
  z-index: 3;
}

#bg4 {
  background-image: url('../images/04.jpg');
  z-index: 2;
}

#bg5 {
  background-image: url('../images/05.jpg');
  z-index: 1;
}

/* Container module */
.module {
  width: 100%;
}

.header-frontpage {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 2rem 0 0 2rem;
  height: 70px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 1);
  top: 0;
  left: 0;
  z-index: 30;
}

.menus-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Content wrapper inside the module */
.module .container {
  width: 100%;
  max-width: 1600px;
  overflow: visible; /* Allow the content to overflow */
  margin: 0 auto; /* Centers the wrapper within the module */
}

.competences p {
  font-size: 4rem;
  margin: 2rem;
}

#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: rgb(10, 37, 68);
  /*background-color: rgb(10, 37, 68);*/
  padding: 2rem;
  margin: 4rem 2rem 0 2rem;
  border-top: 0.1rem solid rgb(10, 37, 68);
}

#copyright {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

#linkedin {
  font-size: 1.3rem;
  margin: 1rem 0 2rem 0;
  font-weight: 300;
}

#linkedin a {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeOut {
  from {
    clip-path: inset(0% 0% 0% 0%);
  }
  to {
    clip-path: inset(0% 0% 100% 0%);
  }
}

/*
@keyframes zoom_image {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}*/

/* Responsive styles for mobile devices */

@media (max-width: 768px) {
  .logo {
    font-size: 1.8rem;
    margin-left: 1rem;
  }

  h2 {
    margin: 3rem 0 0 2rem;
    font-size: 2.5rem;
  }

  .hero {
    height: 80vh;
  }

  .carousel-header-images .gradient {
    height: 20vh;
    opacity: 0.7;
  }

  .carousel-header-images {
    height: 80vh;
  }

  #bg1 {
    background-position: -170px;
    height: 80vh;
  }

  #bg2 {
    background-position: -100px;
    height: 80vh;
  }

  #bg3 {
    background-position: -10px;
    height: 80vh;
  }

  #bg4 {
    background-position: -200px;
    height: 80vh;
  }

  #bg5 {
    background-position: -80px;
    height: 80vh;
  }

  .carousel-header-images,
  #bg1,
  #bg2,
  #bg3,
  #bg4,
  #bg5 {
    touch-action: none;
    -ms-touch-action: none;
    overscroll-behavior: none;
  }

  .topheadline {
    font-size: 2.6rem;
    margin: 0rem 1.5rem 2rem 0rem;
    max-width: 90%;
  }

  .competences p {
    font-size: 1.5rem;
    margin: 1rem 2rem 1rem 2rem;
  }

  .container {
    margin-left: 2rem;
  }

  #footer-container {
    margin-top: 4rem;

    padding: 1rem;
  }

  #copyright {
    font-size: 1.25rem;
  }

  #linkedin {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

/* Responsive styles for tablets and larger devices */

@media (min-width: 769px) and (max-width: 1280px) {
  .topheadline {
    font-size: 5.5rem;
    max-width: 90%;
    margin: 0 4rem 5rem 2rem;
  }
}
